DESKOY_DISCORD_FEEDBACK_WEBHOOK_URL=https://discord.com/api/webhooks/1491026223646904350/EkBcPs8AiXV5UuAYk-gTT508dI_VOkWuMTbNBEuqmuTQowW5p_ui6xB0h9zTWgdfVQpJ
DESKOY_DISCORD_BUG_WEBHOOK_URL=https://discord.com/api/webhooks/1491026320967204946/v0Vv-s4Cmt-M6IMtwZ8jCGEuMpioURx9VbNuGexNwcQ0NUx04ajY_T35WLjWEUM0zr9n